body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    line-height: 1.5;
    background-color: #FFFFFF;
    
}

h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

}


.header .container { 
    display: flex;
    justify-content: space-between;
    margin: 24px 156px;
}

.nav {
    display: flex;
    flex-direction: row;
}

.nav .web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;

}

.nav .nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    
}

.nav .stud {
    color: #2e2f42;
    padding-right: 76px;
}

.nav-list .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
    padding: 0 40px 0 0;
}

.nav-list .link:hover,
.nav-list .link:focus {
    color: #404BBF;
}


.addres {
    font-style: normal;
}

.addres .connect {
    display: flex;
    flex-direction: row;
}


.connect .addr {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-right: 40px;
}

.connect .addr:hover,
.connect .addr:focus {
    color: #404BBF;
}

.connect {
    font-style: normal;
    text-decoration: none;
    list-style: none;
}

.title {
    background-color: #2E2F42;

}

.title .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 188px 472px;
}

.container .htitle {
    padding-bottom: 48px;
}

.container .button {
    width: 178px;
    height: 56px;
    border-radius: 4%;
    overflow: hidden;
}



.title .htitle {
    font-size: 56px;
    font-weight: bold;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.title .button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.title .button:hover,
.title .button:focus {
    background-color: #404BBF;
}

.main .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container .none {
    display: none;    
}

.container .main-list {
    list-style: none;
    display: flex;
    padding: 120px 156px;
    padding-right: 24px;
}

.main-list .parag {
    padding: 0;
    width: 264px;
    height: 104px;
    gap: 8px;
}

.main .functions {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.main-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team {
    background-color: #F4F4FD;

}

.team .container {

    padding: 120px 156px;

}

.container .our-team {
    padding-bottom: 72px;
}

.our-t-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.our-t-list .team-list {
    padding-right: 24px;
}

.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
}

.team-list .team-name {
    background-color: #FFFFFF;
    width: 264px;
    height: 380px;
}

.team-name .name-team {
    padding: 32px 16px 8px 16px;
}

.team-name .position-team {
    padding: 0 68px 32px 68px;
}

.team-list .name-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}


.position-team {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.portf .container {
    padding: 120px 156px;
}
 
.our-p-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 48px;
    padding: 72px 156px 120px 156px;
}

.our-portf {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize
}

.our-p-list .choice-portf {
    width: calc(( 100% - 48px) / 3 );
}



.service-portf {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.choice-portf .descr-portf {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}




footer {
    background-color: #2E2F42;
}

.footer .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 264px;
    padding-top: 100px;
    padding-bottom: 101px;
    padding-left: 147px;
}

.container .web {
    padding-bottom: 15px; 
}

.footer .web {
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4d5ae5;
            text-decoration: none;
}

.footer .stud {
    color: #f4f4fd;
}


.text-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}